<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>US University Admit</title>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-size-2">US University Admit</p>
            <p class="subtitle is-size-4">Use the options below to check the probability of getting an US University
                admit</p>
        </div>
    </div>
</section>
<div class="section container">
    <div class="box field has-background-white-ter">
        <label for="gre_score" class="label is-size-5">GRE Score</label>
        <div class="control">
            <input class="input" type="number" min="260" max="340" value="300" id="gre_score">
        </div>
    </div>
    <div class="box field has-background-white-ter">
        <label for="toefl_score" class="label is-size-5">TOEFL Score</label>
        <div class="control">
            <input class="input" type="number" id="toefl_score" min="0" max="120" value="60">
        </div>
    </div>
    <div class="box field has-background-white-ter">
        <label for="university_rating" class="label is-size-5">University Rating</label>
        <div class="control">
            <input class="input" type="number" id="university_rating" min="1" max="5" value="3">
        </div>
        <p class="help">Higher the better</p>
    </div>
    <div class="box field has-background-white-ter">
        <label for="sop_rating" class="label is-size-5">SOP Rating</label>
        <div class="control">
            <input class="input" type="number" id="sop_rating" min="1" max="5" value="3" step="0.5">
        </div>
    </div>
    <div class="box field has-background-white-ter">
        <label for="lor_rating" class="label is-size-5">LOR Rating</label>
        <div class="control">
            <input class="input" type="number" id="lor_rating" min="1" max="5" value="3" step="0.5">
        </div>
    </div>
    <div class="box field has-background-white-ter">
        <label for="cgpa_score" class="label is-size-5">CGPA Score</label>
        <div class="control">
            <input class="input" type="number" id="cgpa_score" min="0" max="10" value="5" step="0.1">
        </div>
    </div>
    <div class="box field has-background-white-ter">
        <label class="is-size-5 checkbox">
            <input type="checkbox" id="research_input">
            Research Publications
        </label>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-large is-fullwidth is-inverted" id="submit">Submit</button>
        </div>
    </div>
</div>
<div class="modal" id="result-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <section class="section">
                <p class="modal-card-title is-size-2">Result</p>
            </section>
            <section class="section">
                <p id="result"></p>
                <button class="modal-close is-large" aria-label="close" id="close-modal">Close</button>
            </section>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>Site created by Aakaash Jois with Bulma</p>
        <p>The results shown on this site are obtained based on the <a
                href="https://www.kaggle.com/mohansacharya/graduate-admissions">Graduate Admissions</a> dataset on
            Kaggle. A Random Forest model was trained to obtain the results. The complete training procedure can be
            found on this <a href="https://www.kaggle.com/aakaashjois/simple-random-forest-regression">Kaggle
                kernel</a>.</p>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            let gre = parseInt(gre_score.value);
            let toefl = parseInt(toefl_score.value);
            let uni = parseInt(university_rating.value);
            let sop = parseInt(sop_rating.value);
            let lor = parseInt(lor_rating.value);
            let cgpa = parseInt(cgpa_score.value);
            let research = research_input.checked ? 1 : 0;
            $.ajax({
                url: '/',
                type: 'post',
                data: JSON.stringify([gre, toefl, uni, sop, lor, cgpa, research]),
                dataType: 'json',
                success: [function (data) {
                    let pred = (data['prediction'] * 100).toPrecision(4).toString();
                    let success_string = `Your probability of getting an admit in a US University is ${pred} %`;
                    $('#result').text(success_string);
                    $('html').addClass('is-clipped');
                    $('#result-modal').addClass('is-active');
                }]
            });
        });
        $('#close-modal').click(function () {
            $('#result-modal').removeClass('is-active');
            $('html').removeClass('is-clipped');
        });
        $('.modal-background').click(function () {
            $('#result-modal').removeClass('is-active');
            $('html').removeClass('is-clipped');
        });
    })
</script>
</body>
</html>